<h2>List of Employees</h2>
{{log this.table}}
<div class="card">
    <table class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
        {{#each this.table as |row index|}}
        {{#if (eq index 0)}}
        <TableHead @row={{row}} />
        {{else}}
        <TableBody @row={{row}} />
        {{/if}}
        {{/each}}
    </table>
</div>